<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325900303912-vqheheki429mnrrik49innd5ff95hup6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325900303912-vqheheki429mnrrik49innd5ff95hup6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>325900303912-fb2nsfsfjs3o4o95k6sfbq9un9aajn48.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5_7rV-qrcBb7mrvsmOSr2PfTXfma-8yE</string>
	<key>GCM_SENDER_ID</key>
	<string>325900303912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.trainout</string>
	<key>PROJECT_ID</key>
	<string>trainout-f6a49</string>
	<key>STORAGE_BUCKET</key>
	<string>trainout-f6a49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325900303912:ios:56dc39a85cf5b720733f1d</string>
</dict>
</plist>